<div class="contentSection">
  <div class="contentPadding">
    <div class="contentBlock">
      <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
        <div nz-col [nzXs]="6" align="center">
          <h1>{{signupTotal}}</h1>
          <h3>報名人數</h3>
        </div>
        <div nz-col [nzXs]="6" align="center">
          <h1>{{comeTotal}}</h1>
          <h3>參加人數</h3>
        </div>
        <div nz-col [nzXs]="6" align="center">
          <h1>{{meetTotal}}</h1>
          <h3>聚次</h3>
        </div>
      </div>
    </div>
  </div>
</div>
