.contentBlock {
  background-color: #ecdaa7;
}

.ant-row-flex {
  height: calc((100vh - 64px)*0.8);
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 15px;
  }
}
