<div>
  <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
    <div nz-col [nzSpan]="4">
      <a class="link" href="https://www.facebook.com/shufflentu/">
        <i class="fa fa-facebook-official" aria-hidden="true"></i> 台大晚餐
      </a>
    </div>
    <div nz-col [nzSpan]="4">
      <a class="link">
        <i class="fa fa-facebook-official" aria-hidden="true"></i> 台大故事
      </a>
    </div>
    <div nz-col [nzSpan]="4">
      <a class="link" href="https://github.com/tigercosmos/shuffle-ntu">
        <i class="anticon anticon-github"></i> 源始碼
      </a>
    </div>
    <div nz-col [nzSpan]="4">
      <app-newstory class="link">
        <i class="anticon anticon-message"></i> 留下故事
      </app-newstory>
    </div>
  </div>
  <h3>台大晚餐 你的故事/我的晚餐 期待與您相會</h3>
  <p>©2017 <a href="http://tigercosmos.github.io">Liu, An chi 劉安齊</a></p>
</div>
