:host ::ng-deep .ant-carousel .slick-slide {
  text-align: center;
  height: calc(100vh - 64px);
  width: 100wh;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

img {
  height: calc(100vh - 64px);
  width:100%;
  margin: auto;
}