<div class="contentSection">
  <div class="contentPadding">
    <div class="contentBlock">
      <div class="contentTitle">
        體驗故事
      </div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzXs]="7" [nzSm]="7">
            <label nz-form-item-required>姓名</label>
          </div>
          <div nz-col [nzXs]="16" [nzSm]="8" nz-form-control [nzValidateStatus]="getFormControl('name')">
            <nz-input formControlName="name" [nzType]="'text'" [nzPlaceHolder]="'告訴我們您的名字'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzXs]="7" [nzSm]="7">
            <label nz-form-item-required>E-mail</label>
          </div>
          <div nz-col [nzXs]="16" [nzSm]="8" nz-form-control [nzValidateStatus]="getFormControl('email')">
            <nz-input formControlName="email" [nzPlaceHolder]="'能夠聯絡您的 email'" [nzType]="'email'" [nzSize]="'large'">
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div>
            <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('required')">Please input your E-mail!</div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-col [nzXs]="7" [nzSm]="7" nz-form-label>
            <label nz-form-item-required>系級</label>
          </div>
          <div nz-col [nzXs]="16" [nzSm]="8" nz-form-control [nzValidateStatus]="getFormControl('grade')">
            <nz-input formControlName="grade" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'i.g. 生機三、東吳法律四'" [nzSize]="'large'">
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('grade').dirty&&getFormControl('grade').hasError('required')">我們想知道！</div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzXs]="7" [nzSm]="7">
            <label nz-form-item-required>台大學生</label>
          </div>
          <div nz-form-control nz-col [nzXs]="16" [nzSm]="8">
            <nz-switch formControlName="ntu"></nz-switch>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-col [nzOffset]="7" [nzXs]="16" [nzSm]="8" nz-form-control>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">報名參加</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="checkOK($event)">
  <ng-template #modalTitle>
    小提醒
  </ng-template>
  <ng-template #modalContent>
    <p>恭喜完成報名，希望能很快聽到你的故事</p>
    <br>
    <p>公佈時間：每週三 19:07</p>
    <p>報名截止：每週四晚上11:53（至粉專留言）</p>
    <p>週聚時間：每週五 19:07-22:37</p>
    <p>週聚地點：混血公寓</p>
    <p>（大安區復興南路二段210巷3之1號4樓）</p>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="checkOK($event)">
      OK
    </button>
  </ng-template>
</nz-modal>
