<div class="alwaysTop">
  <div nz-row [nzAlign]="middle">
    <div nz-col [nzXs]="12" [nzSm]="8" class="logo">
      <img src="assets/img/logo.png">
    </div>
    <div nz-col [nzXs]="12" [nzSm]="16" id="topnav">
      <ul nz-menu [nzMode]="'horizontal'">
        <li nz-menu-item (click)="emitTarget('concept')">
          理念</li>
        <li nz-menu-item (click)="emitTarget('milestone')">
          里程碑</li>
        <li nz-menu-item (click)="emitTarget('story')">
          聽他們說</li>
        <li nz-menu-item (click)="emitTarget('signup')">
          體驗故事</li>
        <li nz-menu-item class="icon" (click)="rwd()">&#9776;</li>
      </ul>
    </div>
  </div>
</div>
