<div nz-row [nzAlign]="middle">
  <div nz-col [nzXs]="12" [nzSm]="8" class="logo">
    <img src="/assets/img/logo.png">
  </div>
  <div nz-col [nzXs]="12" [nzSm]="16">
    <ul nz-menu [nzMode]="'horizontal'" class="ant-menu ant-menu-root  ant-menu-horizontal">
      <li nz-menu-item class="ant-menu-item ant-menu-item-selected">
        理念</li>
      <li nz-menu-item class="ant-menu-item">
        里程碑</li>
      <li nz-menu-item class="ant-menu-item">
        聽他們說</li>
      <li nz-menu-item class="ant-menu-item">
        體驗故事</li>
    </ul>
  </div>
</div>
