.img {
  height: calc(100vh - 64px);
  width: 100%;
  background-image: url("/assets/img/shufflentubanner-xx.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 1000px) {
  .img {
    background-image: url("/assets/img/shufflentubanner-l.jpg");
  }
}

@media only screen and (max-width: 700px) {
  .img {
    background-image: url("/assets/img/shufflentubanner-m.jpg");
  }
}

@media only screen and (max-width: 500px) {
  .img {
    background-image: url("/assets/img/shufflentubanner-sm.jpg");
  }
}

@media only screen and (max-width: 430px) {
  .img {
    background-image: url("/assets/img/shufflentubanner-xs.jpg");
  }
}
