<nz-layout class="layout ant-layout">

  <nz-header>
    <app-navbar (getTarget)="scrollToTarget($event)"></app-navbar>
  </nz-header>

  <nz-content class="ant-layout-content">

    <app-carousel class="sectopn" id="carousel"></app-carousel>
    <app-concept class="sectopn" id="concept"></app-concept>
    <app-milestone class="sectopn" id="milestone"></app-milestone>
    <app-story class="sectopn" id="story"></app-story>
    <app-signup class="sectopn" id="signup"></app-signup>

  </nz-content>
  <nz-footer style="text-align: center;" class="ant-layout-footer">
    ©2017 Liu, An chi 劉安齊
  </nz-footer>

</nz-layout>
