<div class="contentSection">
  <div class="contentPadding">
    <div class="contentBlock">
      <div class="contentTitle">
        報名流程
      </div>
      <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
        <div nz-col [nzXs]="24" [nzSm]="6" align="center" class="progress">
          <img src="/assets/img/progress1.png">
          <p>在官網完成報名</p>
          <p>(每學期報名一次即可)</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="2" align="center" class="arrow">
          <img src="/assets/img/arrow_right.png">
        </div>
        <div nz-col [nzXs]="24" [nzSm]="6" align="center" class="progress">
          <img src="/assets/img/progress2.png">
          <p>每週三 19:07 公佈當周 15 位幸運者</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="2" align="center" class="arrow">
          <img src="/assets/img/arrow_right.png">
        </div>
        <div nz-col [nzXs]="24" [nzSm]="6" align="center" class="progress">
          <img src="/assets/img/progress3.png">
          <p>在粉專留言完成報名或放棄</p>
          <p>取前 10 名</p>
          <p>(兩次抽中未回覆則將停權)</p>
        </div>
      </div>
    </div>
  </div>
</div>
