.contentBlock {
  background-color: #ecdaa7;
  min-height: calc((100vh - 64px)*0.8);
}

.progress img {
  height: 150px;
}

.arrow img {
  height: 30px;
}

p {
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .progress img {
    height: 120px;
  }
  .arrow img {
    height: 20px;
  }
  p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .progress{
    padding: 10px;
  }
  .progress img {
    height: 100px;
    
  }
  .arrow img {
    height: 30px;
    transform: rotate(90deg);
  }
  .contentTitle {
    font-size: 30px;
    padding: 20px 0;
  }
  p {
    font-size: 15px;
  }
}
