div {
  background-color: #FFE3CC;
}

.center {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 420px;
}

.content {
  font-size: large;
  text-align: left;
}
