.contentBlock {
  background-color: white;
}

img {
  border-radius: 50%;
  height: 150px;
}

.content {
  padding: 30px 0px 30px 0px;
  font-size: large;
}

.info {
  padding: 30px;
  font-size: large;
}
