.logo {
  height: 150px;
  background-image: url("/assets/img/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 35px;
  padding: 40px 0px;
}

.container {
  padding-top: 30vh;
}

.email {
  font-size: 15px;
  padding: 10px;
}
