/* You can add global styles to this file, and also import other style files */

.contentSection {
  height: calc(100vh - 64px);
  background-color: white;
}

.contentPadding {
  height: calc(100vh - 64px);
  padding: 5% 10%;
}

.contentTitle {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: xx-large;
  padding: 40px 0px;
}

* {
  font-family: "Microsoft JhengHei", sans-serif;
  color: #60202d !important;
}
