<button nz-button (click)="showModal()" class="circle">
  <p>{{title}}</p>
</button>
<nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)">
  <ng-template #modalTitle>
    {{title}}
  </ng-template>
  <ng-template #modalContent>
    <div class="background">
      <div class="title"> Shuffle NTU #2</div>
      <div *ngFor="let team of thisWeekUsers">
        <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="8">
            {{team['a'].grade}} {{team['a'].name}}
          </div>
          <div nz-col [nzSpan]="8">
            {{team['b'].grade}} {{team['b'].name}}
          </div>
          <div nz-col [nzSpan]="8">
            {{team['c'].grade}} {{team['c'].name}}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      返 回
    </button>
  </ng-template>
</nz-modal>
