<nz-layout>
  
    <nz-header>
      <app-navbar (getTarget)="scrollToTarget($event)"></app-navbar>
    </nz-header>
  
    <nz-content>
      <app-carousel id="carousel"></app-carousel>
      <app-concept id="concept"></app-concept>
      <app-process id="process"></app-process>
      <app-milestone id="milestone"></app-milestone>
      <app-story id="story"></app-story>
      <app-signup id="signup"></app-signup>
    </nz-content>
  
    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  
  </nz-layout>
  