<div class="contentSection">
  <div class="contentPadding">
    <div class="contentBlock">
      <div nz-row class="center" [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
        <div nz-col [nzXs]="24" align="center">
          <div class="info">
            <p>{{story.grade}} {{story.name}}</p>
          </div>
          <img alt="person picture" [src]=story.src>
          <div class="content">
            <p>{{story.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
